.slider {
    border-radius: 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    height: 60vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
    transition: margin-left 1s ease-in-out;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 10;
}

.manual-btn {
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
}

.manual-btn:hover {
    background-color: #fff;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 5;
}

.navigation-auto div {
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    transition: background 0.5s ease, transform 0.3s;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

#radio1:checked~.manual-navigation label[for="radio1"],
#radio2:checked~.manual-navigation label[for="radio2"],
#radio3:checked~.manual-navigation label[for="radio3"],
#radio4:checked~.manual-navigation label[for="radio4"],
#radio5:checked~.manual-navigation label[for="radio5"],
#radio1:checked~.navigation-auto .auto-btn1,
#radio2:checked~.navigation-auto .auto-btn2,
#radio3:checked~.navigation-auto .auto-btn3,
#radio4:checked~.navigation-auto .auto-btn4,
#radio5:checked~.navigation-auto .auto-btn5 {
    background: #fff;
    transform: scale(1.3);
}

@media (max-width: 850px) {
    .slider {
        width: 95%;
        height: 50vh;
    }
}

@media (max-width: 500px) {
    .slider {
        height: 40vh;
    }
}